body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50%;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
    /* Espaço à direita para separar da margem direita */
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-left:50px;
    max-width: 1500px;
}

.image-box {
    flex-basis: calc(33.33% - 20px);
    margin: 50px;
    
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.tempo {
    margin-top: 5px;
    display: flex;
}

.likes {
    font-size: 14px;
    color: #777;
    margin-left: 105px;

}

h1 {
    text-align: center;
}

.linha1{
    display:flex;
}

.titulo{
    margin-top: 5px;
}

.botao {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 35%;
    width: 400px;
  }