* {
    margin: 0;
    padding: 0;  
}

#menu {
    background: gray;
    display: table;
    width: 100%;
}

#menu ul {
    list-style: None;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    font:13px verdana, arial, tahoma;
    color: white;
    background: orange;
    text-decoration: none;
    float: left;
    padding: 5px;
    margin-left: 1px;
}

#menu ul li a:hover {
    color: black;    
}
